/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/


:root.theme-dark {
  --color-accent: #ff0070;               
  --color-surface-primary: #000028; 
  --color-title-accent: #ff0070;
  --color-title-primary: #000028;   
  --color-text-primary: #F1B2CE;          
  --color-text-accent: #DB00FF;
  --button-primary-color: #ff0070;     
  --button-primary-color-alpha: rgba(255, 0, 112, 0.4); 
  --image-surface-primary: url(../images/cover-image-dark.png);
  --rec-display: block;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-accent: #ff0070;               
    --color-surface-primary: #000028; 
    --color-title-accent: #ff0070;
    --color-title-primary: #000028;   
    --color-text-primary: #F1B2CE;          
    --color-text-accent: #DB00FF;
    --button-primary-color: #ff0070;     
    --button-primary-color-alpha: rgba(255, 0, 112, 0.4); 
    --image-surface-primary: url(../images/cover-image-dark.png);
    --rec-display: block;
  }
}
