/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --color-accent: #ff0070;               
  --color-surface-primary: #000028; 
  --color-title-accent: #ff0070;
  --color-title-primary: #000028;   
  --color-text-primary: #F1B2CE;          
  --color-text-accent: #DB00FF;
  --button-primary-color: #ff0070;     
  --button-primary-color-alpha: rgba(255, 0, 112, 0.4); 
  --font-family-base: 'IBM Plex Mono', monospace;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-size-body: 18px;                 
  --image-surface-primary: url(../images/cover-image.png);
  --rec-display: block;
}